<script type="text/ng-template" id="/home.html">
    <div class="page-header">
    <h1>Mi Clinica</h1>
    </div>

    <div ng-repeat="clinic in clinics | orderBy: '-upvotes'">
        <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(clinic)"></span>
        <span class="clinicshow">
        <a ng-show="clinic.link" href="{{clinic.link}}">
          {{clinic.title}}
        </a>

        <span ng-hide="clinic.link">
          {{clinic.title}}
        </span>
        <span>
          <a href="#/clinics/{{$index}}">Reviews</a>
        </span>
        </span>
      
         - upvotes: {{clinic.upvotes}}
         {{clinic.street}}
         {{clinic.city}}
         {{clinic.zip}}
      
      </div>


      <form ng-submit="addClinic()" style="margin-top:30px;">
        <h3>Add a Clinic</h3>
        <div class="form-group">
        <input type="text" class="form-control" placeholder="Title" ng-model="title" required></input>
        </div>
        <div class="form-group">
        <input type="text" class="form-control" placeholder="Category" ng-model="category" required></input>
        </div>
        <div class="form-group">
        <input type="text" class="form-control" placeholder="Address" ng-model="street" required></input>
        </div>
        <div class="form-group">
        <input type="text" class="form-control" placeholder="City" ng-model="city" required></input>
        </div>
        <div class="form-group">
        <input type="text" class="form-control" placeholder="Zip Code" ng-model="zip" required></input>
        </div>
        <div class="form-group">
        <input type="text" class="form-control" placeholder="Area Served" ng-model="areaServed"></input>
        </div>
        <div class="form-group">
        <input type="text" class="form-control" placeholder="Hours" ng-model="openHours"></input>
        </div>
        <div class="form-group">
        <input type="text" class="form-control" placeholder="Phone Number" ng-model="phone" required></input>
        </div>
        <div class="form-group">
        <input type="text" class="form-control" placeholder="Languages" ng-model="languages"></input>
        </div>
        <div class="form-group">
        <input type="text" class="form-control" placeholder="Pay Scale" ng-model="payScale"></input>
        </div>
        <div class="form-group">
        <input type="text" class="form-control" placeholder="URL to Website" ng-model="link"></input>
        </div>
        <button type="submit" class="btn btn-secondary">Add Clinic</button>
      </form>
  </script>